.page-container {
    max-width: 800px;
    height: 80vh; /* Adjust height as needed, the viewport height */
    overflow-y: auto; /* Enable vertical scrolling */
    box-sizing: border-box; /* Ensure padding and border are included in width */
  }

  .page-container::-webkit-scrollbar {
    display: none; /* Hide scrollbar for webkit browsers */
  }
  
  .header-box {
    padding: 20px;
    margin-top: 0;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
    box-sizing: border-box; /* Ensure padding and border are included in width */
  }
  
  .veg-header {
    background-color: #f38f47; /* color for vegetarian header */
    padding: 10px; /* Padding inside the header box */
    max-width: 300px; /* Adjust width */
    margin: 0 auto 20px; /* Center the box and margin below */
    box-sizing: border-box; /* Ensure padding and border are included in width */
  }
  
  .non-veg-header {
    background-color: #f38f47; /* color for non-vegetarian header */
    color: #fff;
    padding: 10px; /* Padding inside the header box */
    max-width: 400px; /* Adjust width */
    margin: 0 auto 20px; /* Center the box and margin below */
    box-sizing: border-box; /* Ensure padding and border are included in width */
  }
  
  .dishes-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  