/* RecipeDetailPage.css */
.recipe-detail-page {
  background-color: #ddece9; /* White background color for recipe details */
  color: #0e0d0d; /* Dark text color */
  padding: 2rem;
  max-width: 800px; /* Maximum width of the page */
  height: 95%; /* Full height of the viewport */
  overflow-y: auto; /* Enable vertical scrolling */
  text-align: center;
  box-sizing: border-box; /* Ensure padding doesn't affect width calculation */
}

.recipe-image {
  max-width: 50%;
  height: auto;
  border-radius: 8px; /* Rounded corners for the image */
  margin-bottom: 1rem;
}

h1 {
  color: #333; /* Dark text color for headings */
}

h2 {
  color: #2d2a2a; /* Slightly lighter grey text color for subheadings */
  font-style:italic;
}



