.dish-card {
    border: 3px solid #dee2e6;
    border-radius: 25px;
    background-color: #9e2e2e;
    margin: 25px;
    padding: 20px;
  }
  
  .dish-card h3 {
    color: #e3e6e9;
    margin-bottom: 10px;
  }
  
  .dish-card p {
    color: #eaefeb;
    margin-bottom: 10px;
  }
  
  .dish-card a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .dish-card a:hover {
    color: #00b38f;
  }

  