body {
  
  background-image: url('/public/pexels.png'); 
  background-size: cover;
  background-position: center;
  color: white;
}

nav {
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent dark background for navigation */
  padding: 1rem;
  text-align: center;
}

nav ul {
  
  padding: 0;
  margin: 0px;
}

nav li {
  display: inline;
  margin: 0 1rem;
}

nav a {
  color: white;
  text-decoration: none;
}

h1 {
  text-align: center;
  margin-top: 2rem;
}

p {
  text-align: center;
  color: black;
  font-style: italic;
  font-size: large;
}

.home-content {
  margin-top: 4rem; 
}

.home {
  margin-top: 10rem; 
}

